#main-text{
    font-family: 'Caveat', cursive;
    font-family: 'Libre Baskerville', serif;
    text-align: center;
    padding: 50px;
    color: whitesmoke;
    text-align: center
    

}

body{
    background-color: black;
}

#imagebox img{
    width: 100%; height: 100%;
    
}


#bottomtext{
    font-family: 'Caveat', cursive;
    font-family: 'Libre Baskerville', serif;
    text-align: center;
    padding: 50px;
    color: whitesmoke;
    text-align: center;
}

@media (max-width: 600px) {
    #main-text
    {
        font-size: 12px ;
        padding: 10px;
        text-align: center;
        margin-left: 20px;
        
    }
}
@media (max-width: 600px) {
    #bottomtext
    {
        font-size: 8px;
        
        width: 100%;
        text-align: center;
        padding: 10px;
        
        
    }
}
    
@media (max-width: 600px) {
    #imagebox img{
        width: 50%; height: 50%;
        margin-left: 100px;
    }
}
